@model List<ChristiansClothes.Models.ProductModel>

@{
    ViewData["Title"] = "Products";
}

<h2 class="text-primary">Products</h2>

<div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Product Image</th>
                <th>Product Name</th>
                <th>Product Description</th>
                <th>Product Price</th>
                <th></th> <!-- View Details column -->
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model)
            {
                <tr>
                    <td><img src="@product.ProductImage" alt="@product.ProductName" class="product-image" style="max-width: 100px; max-height: 100px;" /></td>
                    <td>@product.ProductName</td>
                    <td>@product.ProductDescription</td>
                    <td>@product.ProductPrice</td>
                    <td><a asp-controller="Product" asp-action="Detail" asp-route-id="@product.ProductId" class="btn btn-primary">View Details</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>
<a asp-action="Index" asp-controller="Home" class="btn btn-secondary mt-3">Back to Home</a>